<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="locality">
            <h2><span jhiTranslate="stayHomeApp.locality.detail.title">Locality</span> {{ locality.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stayHomeApp.locality.name">Name</span></dt>
                <dd>
                    <span>{{ locality.name }}</span>
                </dd>
                <dt><span jhiTranslate="stayHomeApp.locality.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ locality.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="stayHomeApp.locality.delegation">Delegation</span></dt>
                <dd>
                    <div *ngIf="locality.delegationId">
                        <a [routerLink]="['/delegation', locality.delegationId, 'view']">{{ locality.delegationId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
</div>
