<div>
    <h2 id="page-heading">
        <span jhiTranslate="stayHomeApp.volunteer.home.title">Volunteers</span>

        <button *ngIf="isAuthenticated()" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-volunteer" [routerLink]="['/volunteer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="stayHomeApp.volunteer.home.createLabel">
            Create a new Volunteer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="volunteers?.length === 0">
        <span jhiTranslate="stayHomeApp.volunteer.home.notFound">No volunteers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="volunteers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  *ngIf="isAuthenticated()" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="stayHomeApp.volunteer.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="stayHomeApp.volunteer.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="stayHomeApp.volunteer.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="stayHomeApp.volunteer.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  *ngIf="isAuthenticated()" jhiSortBy="creationDate"><span jhiTranslate="stayHomeApp.volunteer.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  *ngIf="isAuthenticated()" jhiSortBy="municipalityName"><span jhiTranslate="stayHomeApp.volunteer.municipality">Municipality</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  *ngIf="isAuthenticated()"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let volunteer of volunteers ;trackBy: trackId">
                    <td *ngIf="isAuthenticated()" ><a [routerLink]="['/volunteer', volunteer.id, 'view']">{{ volunteer.id }}</a></td>
                    <td>{{ volunteer.firstName }}</td>
                    <td>{{ volunteer.lastName }}</td>
                    <td>{{ volunteer.email }}</td>
                    <td>{{ volunteer.phone }}</td>
                    <td *ngIf="isAuthenticated()">{{ volunteer.creationDate | date:'mediumDate' }}</td>
                    <td *ngIf="isAuthenticated()">
                        <div >
                            <a [routerLink]="['/municipality', volunteer.municipalityId , 'view']" >{{ volunteer.municipalityName }}</a>
                        </div>
                    </td>
                    <td class="text-right" *ngIf="isAuthenticated()">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/volunteer', volunteer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/volunteer', volunteer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(volunteer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="volunteers?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
