<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="volunteer">
            <h2><span jhiTranslate="stayHomeApp.volunteer.detail.title">Volunteer</span> {{ volunteer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stayHomeApp.volunteer.firstName">First Name</span></dt>
                <dd>
                    <span>{{ volunteer.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="stayHomeApp.volunteer.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ volunteer.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="stayHomeApp.volunteer.email">Email</span></dt>
                <dd>
                    <span>{{ volunteer.email }}</span>
                </dd>
                <dt><span jhiTranslate="stayHomeApp.volunteer.phone">Phone</span></dt>
                <dd>
                    <span>{{ volunteer.phone }}</span>
                </dd>
                <dt><span jhiTranslate="stayHomeApp.volunteer.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{ volunteer.creationDate }}</span>
                </dd>
                <dt><span jhiTranslate="stayHomeApp.volunteer.municipality">Municipality</span></dt>
                <dd>
                    <div *ngIf="volunteer.municipalityId">
                        <a [routerLink]="['/municipality', volunteer.municipalityId, 'view']">{{ volunteer.municipalityName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/volunteer', volunteer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
