<div class="row">
    <div class="col-md-6">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
    </div>
    <div class="col-md-6" style="max-height: 80%">
        <svg fill="#486A47" width="250pt" height="539pt" viewBox="0 0 250 539" version="1.1">
            <g id="surface1" *ngFor="let elem of regions | keyvalue">
                <ng-template #tipContent>Check volunteers in {{names[elem.key]}}!</ng-template>
                <path [ngClass]="'governorateStyle'"
                      transform="matrix(0.25,0,0,0.249768,0,0)"
                      [attr.id]="elem.key"
                      [attr.title]="names[elem.key]"
                      [attr.d]="elem.value"
                      (click)="goToVolunteerList(elem.key)"
                      [ngbTooltip]="tipContent" container="body"/>
            </g>
        </svg>
    </div>
</div>
<style>
    ngb-tooltip-window {

    }
</style>
