<form name="createDemandeFrom" role="form" novalidate (ngSubmit)="save()" [formGroup]="createDemandeFrom">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4" jhiTranslate="home.title"></h1>
        </div>
        <div class="col-12">
            <h2 id="jhi-demand-heading" jhiTranslate="stayHomeApp.demand.home.createLabel"></h2>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="form-group col-6">
                    <label class="sr-only" for="field_firstName"></label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"
                           placeholder="{{ 'stayHomeApp.demand.firstName' | translate }}"/>
                    <div
                        *ngIf="createDemandeFrom.get('firstName')!.invalid && (createDemandeFrom.get('firstName')!.dirty || createDemandeFrom.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="createDemandeFrom.get('firstName')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>

                </div>
                <div class="form-group col-6">
                    <label class="sr-only" for="field_lastName"></label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"
                           placeholder="{{'stayHomeApp.demand.lastName' | translate }}"/>
                    <div
                        *ngIf="createDemandeFrom.get('lastName')!.invalid && (createDemandeFrom.get('lastName')!.dirty || createDemandeFrom.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="createDemandeFrom.get('lastName')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label class="sr-only" for="field_phone"></label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"
                           placeholder="{{'stayHomeApp.demand.phone' | translate }}"/>
                    <div
                        *ngIf="createDemandeFrom.get('phone')!.invalid && (createDemandeFrom.get('phone')!.dirty || createDemandeFrom.get('phone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="createDemandeFrom.get('phone')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label class="sr-only" for="field_email"></label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"
                           placeholder="{{'stayHomeApp.demand.email' | translate}}"/>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <ng-select id="field-gouvernorat"
                               [items]="governorates"
                               [closeOnSelect]="true"
                               [hideSelected]="false"
                               [multiple]="false"
                               bindLabel="name"
                               bindValue="id"
                               (change)="getDelegationSelect($event)"
                               placeholder="{{'home.gouvernorat' | translate}}">
                    </ng-select>
                </div>

                <div class="form-group col-4">
                    <ng-select id="field-delegation"
                               [items]="delegations"
                               [closeOnSelect]="true"
                               [hideSelected]="false"
                               [multiple]="false"
                               bindLabel="name"
                               bindValue="id"
                               (change)="getLocalitySelect($event)"
                               placeholder="{{'home.delegation' | translate}}">
                    </ng-select>
                </div>

                <div class="form-group col-4">

                    <ng-select id="field_locality" formControlName="localityId"
                               [items]="localities"
                               [closeOnSelect]="true"
                               [hideSelected]="false"
                               [multiple]="false"
                               bindLabel="name"
                               bindValue="id"
                               placeholder="{{'home.locality' | translate}}">
                    </ng-select>

                </div>
            </div>
            <div class="form-row" >
                <div class="col-6 form-group">

                    <ng-select id="field_organization"
                               formControlName="organizationId"
                               [items]="organizations"
                               [closeOnSelect]="true"
                               [hideSelected]="false"
                               [multiple]="false"
                               bindLabel="name"
                               bindValue="id"
                               (change)="getServiceSelect($event)"
                               placeholder="{{'stayHomeApp.demand.organization' | translate}}">
                    </ng-select>

                </div>

                <div class="col-6 form-group">
                    <ng-select id="field_serviceType" formControlName="serviceTypeId"
                               [items]="serviceTypes"
                               [closeOnSelect]="true"
                               [hideSelected]="false"
                               [multiple]="false"
                               bindLabel="name"
                               bindValue="id"
                               (change)="selectServiceType($event)"
                               placeholder="{{'stayHomeApp.demand.serviceType' | translate}}">
                    </ng-select>
                </div>

                <div class="col-12 form-group">
                    <label class="sr-only" for="field_description"></label>
                    <textarea type="text" class="form-control" name="description" id="field_description"
                              formControlName="description"
                              placeholder="{{'stayHomeApp.demand.description' | translate}}"></textarea>
                </div>
            </div>
            <div class="form-row" >
                <div class="col-12 form-group">
                    <button type="submit" id="save-entity"
                            [disabled]="createDemandeFrom.invalid || isSaving"
                            class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>

