<div>
    <h2 id="page-heading">
        <span jhiTranslate="stayHomeApp.municipality.home.title">Municipalities</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="municipalities?.length === 0">
        <span jhiTranslate="stayHomeApp.municipality.home.notFound">No municipalities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="municipalities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="stayHomeApp.municipality.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="stayHomeApp.municipality.delegation">Delegation</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let municipality of municipalities ;trackBy: trackId">
                    <td><a [routerLink]="['/municipality', municipality.id, 'view']">{{ municipality.id }}</a></td>
                    <td>{{ municipality.name }}</td>
                    <td>
                        <div *ngIf="municipality.delegationId">
                            <a [routerLink]="['/delegation', municipality.delegationId , 'view']" >{{ municipality.delegationName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/municipality', municipality.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
