<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organization-heading" jhiTranslate="stayHomeApp.organization.home.createOrEditLabel">Create or edit a Organization</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stayHomeApp.organization.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stayHomeApp.organization.requiresApproval" for="field_requiresApproval">Requires Approval</label>
                    <input type="checkbox" class="form-control" name="requiresApproval" id="field_requiresApproval"
                           formControlName="requiresApproval"/>
                    <div *ngIf="editForm.get('requiresApproval')!.invalid && (editForm.get('requiresApproval')!.dirty || editForm.get('requiresApproval')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('requiresApproval')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stayHomeApp.organization.defaultPhone" for="field_defaultPhone">Default Phone</label>
                    <input type="text" class="form-control" name="defaultPhone" id="field_defaultPhone"
                           formControlName="defaultPhone"/>
                    <div *ngIf="editForm.get('defaultPhone')!.invalid && (editForm.get('defaultPhone')!.dirty || editForm.get('defaultPhone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('defaultPhone')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stayHomeApp.organization.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker #creationDateDp="ngbDatepicker" formControlName="creationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('creationDate')!.invalid && (editForm.get('creationDate')!.dirty || editForm.get('creationDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creationDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="stayHomeApp.organization.serviceTypes" for="field_serviceTypes">Service Types</label>
                    <select class="form-control" id="field_serviceTypes" multiple name="serviceTypes" formControlName="serviceTypes">
                        <option [ngValue]="getSelected(editForm.get('serviceTypes')!.value, serviceTypeOption)" *ngFor="let serviceTypeOption of servicetypes; trackBy: trackById">{{ serviceTypeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
